# IDES
.idea # pycharm
.vscode # vscode
.venv # venv

# in older versions
/src/config.txt
/config.txt

# python files
*.pyc
*.pyi
*.pyd

# building
/main.spec
/dist
/build
/run.spec

# local on mantainer computer
/scripts/
